/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@600;700&display=swap');

body {
  @apply font-sans;
} */
/* #root {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 1rem;
} */

